{% extends 'base1.html' %}
{% load static %}
{% block content %}
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <main class="container">
      <section class="about">
        <h2>About Us</h2><br>
        <p class="a">
          Anub Furniture was established in the year 2000. We started of small but have slowly and steadily grew up and
          now have 3 factory setups viz:-
        </p>
        <br>
        <p class="b">7500 Sqft Factory for Wood Working </p>
        <p class="b">2500 Sqft factory setup for manufacturing of Modular Partitions Systems</p>
        <p class="b">1000 Sqft of Powder Coating Plant </p>
        <p class="c">Our major arm is Modular Furniture System manufacturing both in Panel Based and Desk based systems.
          We work as consultants for our clients, giving them the complete solutions as per their requirements. Our
          in-house team comprises of Designer, Production dwg draftsman, Skilled / Unskilled labor and the most
          important senior Management with a collective experience of more than 30years. The Company’s focuses on
          constant quality control policies which enables us to deliver errorless product.</p>
      </section>
    </main>
{% endblock %}