{% extends 'base1.html' %}
{% load static %}
{% block content %}
    <title>Our Clients</title>
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <main class="container py-4">

        <section class="clients">   
            <div class="client">
                <a target="_blank">
                <img src="{% static 'img/61uJyfixlRL.jpg' %}" alt="Client 1" width="100" height="100"class="img-fluid">
                </a>
            </div>
            <div class="client">
                <a target="_blank">                    
                <img src="{% static 'img/2072927515219484145287387479439171998191662n-1597825464076.webp' %}" alt="Client 2" width="100" height="100" class="img-fluid">
                </a>
            </div>
            <div class="client">
                <a target="_blank">
                <img src="{% static 'img/download.png' %}" alt="Client 3"  width="100" height="100" class="img-fluid">
                </a>
            </div>
            <div class="client">
                <a target="_blank"></a>
                <img src="{% static 'img/Tata-Sky-Mobile.jpg' %}" alt="Client 3" width="110" height="110" class="img-fluid">
                </a>
            </div>
            <!-- Add more client logos as needed -->
        </section>
    </main>
</div>

        <table class="table">
            <tr>
                <td>Renaissance Jewellery Ltd	</td>
                <td>LIC of India	</td>
                <td>Oil States India Pvt. Ltd. – Taloja
                </td>
            </tr>
            <tr>
                <td>E- Furtherance	</td>
                <td>RMX Couriers	</td>
                <td>SRK Gems – Surat – Full Height Partitions
                </td>
            </tr>
            <tr>
                <td>Dousefire Systems	</td>
                <td>Kalpataru Habitat	</td>
                <td>Proctor & Gamble India Ltd. – GOA
                </td>
            </tr>
            <tr>
                <td>A. Z. Electricals – Sanpada & Khalapur	</td>
                <td>G South – BMC office</td>
                <td>Bayer Vapi Ltd. – Vapi
                </td>
            </tr>
            <tr>
                <td>Naaptol.- Rabale	</td>
                <td>Dadar Pumping Station – 3rd Floor	</td>
                <td>GEP – Airoli
                </td>
            </tr>
            <tr>
                <td>Prime Focus Technologies – Andheri MIDC	</td>
                <td>Techlink Infoware Pvt. Ltd.	</td>
                <td>New Era Technologies Pvt. Ltd
                </td>
            </tr>
            <tr>
                <td>Famy Care Ltd. – Vapi- Bilad	</td>
                <td>GHCL – Kandivali	</td>
                <td>DB Realty – Goregaon / Parel
                </td>
            </tr>
            <tr>
                <td>Neelkanth Woods – Thane – Godbunder road	</td>
                <td>Route SMS	</td>
                <td>EBC Bearing Corporation – Andheri

                </td>
            </tr>
            <tr>
                <td>Symphony Interiors – Andheri – Marol	</td>
                <td>Ace Berverages Pvt. Ltd</td>
                <td>Tata Sky – Parel
                </td>
            </tr>
            <tr>
                <td>Tata AIG.- Lower Parel</td>
                <td>Ankit Gems – Surat – Full Height Partitions</td>
                <td>Saraswat Bank Ltd. Powai
                </td>
            </tr>
            <tr>
                <td>Human Dynamics – Powai</td>
                <td>Piramal Enterprises – Vikhorli	</td>
                <td>Sterlite – Pune

                </td>
            </tr>
            <tr>
                <td>Vertex Logistics India Pvt.Ltd. India Cements – Pune</td>
                <td>TCS - Thane</td>
                <td>Maserati Car Showroom – Andheri

                </td>
            </tr>
            <tr>
                <td>PKMG – Bandra – BKC	</td>
                <td>Maharshtra Traffic Police – Worli	</td>
                <td>Quintile India Pvt. Ltd. – Andheri

                </td>
            </tr>
            <tr>
                <td>Ajay Bhai Chaudhary Office – Surat	</td>
                <td>DB Realty – Goregaon / Parel	</td>
                <td>Oil States India Pvt. Ltd. – Taloja
                </td>
            </tr>
            <tr>
                <td>C R Realty – Bandra – BKC	</td>
                <td>EBC Bearing Corporation – Andheri	</td>
                <td>SRK Gems – Surat – Full Height Partitions
                </td>
            </tr>
        </table>
{% endblock %}